[Unit]
Description=Read+Write data from VItros3600 to/from inbox/outbox using ASTM Protocol
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/vitros/astmbi/astm_bidirectional_general_each_line.py
[Install]
WantedBy=multi-user.target
