[Unit]
Description=Read+Write data from VItros3600 to/from inbox/outbox using ASTM Protocol
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/vitros/astmbi/astm_bidirectional_xl_1000.py

[Install]
WantedBy=multi-user.target
