[Unit]
Description=Reads data from Mircos-60 ttyS1
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/micros-connect/stxetxcut_ttyS1.py

[Install]
WantedBy=multi-user.target
