[Unit]
Description=Reads data from Mircos-60 ttyS0
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/micros-connect/stxetxcut_ttyS0.py

[Install]
WantedBy=multi-user.target
